@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100vw;
}

.hide {
  opacity: 0 !important;
  pointer-events: none !important;
}

.fadeInOnEnter {
  transition: all;
  -webkit-animation: fadein 500ms; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 500ms; /* Firefox < 16 */
   -ms-animation: fadein 500ms; /* Internet Explorer */
    -o-animation: fadein 500ms; /* Opera < 12.1 */
       animation: fadein 500ms;
}

@keyframes fadein {
  from { opacity: 0;}
  to {opacity: 1;}
}